<h1>Create an Article: </h1>
<form method="POST" action="/articles"> 
	<label for="title">Enter article name here: </label>
	<input type="text" name="title"><br>
	<label for="title">Enter article content here: </label><br>
	<textarea rows = "5" cols = "60" name = "content">
            Enter content here...
    </textarea><br>
	<input type="submit" id="Submit">
</form>
<br>
<br>
<a href="/">back home</a>